$transition: 0.2s ease-in-out;

.container {
	width: 1200px;
	margin: 0 auto;
	font-weight: bold;

	h1 {
		margin: 20px 0;
	}
}

footer {
	display: flex;
	justify-content: center;

	.wrapper {
		text-align: center;
		padding: 30px 0;

		width: 1200px;
		border-top: solid 1px rgba(black, 0.1);
	}
}

.flex-left-right {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.psd-viewer,
.layer-panel {
	background-color: white;
	border: solid 1px rgba(black, 0.1);
	border-radius: 10px;
}

.psd-viewer {
	position: relative;
	width: 72%;
	max-height: 300px;
	padding: 30px;

	transition: max-height 0.5s ease;

	.drop-area {
		position: absolute;
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: calc(100% - 60px);
		height: calc(100% - 60px);
		border-radius: 10px;
		user-select: none;
		background-color: #f2f6f9;

		transition: opacity $transition;
		transition-delay: 1s;
		opacity: 0;

		&.active {
			opacity: 1;
		}

		.normal {
			h3 {
				margin-top: 10px;
			}
		}
	}

	.psd-canvas {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		background-image: url('../../../assets/Transparency10.png');
	}
}

.psd-info {
	width: 25%;

	h2 {
		margin-bottom: 10px;
	}

	.layer-panel {
		width: 100%;
		padding: 20px;
		user-select: none;

		li {
			label {
				width: 100%;
				height: 100%;
				padding: 5px;
				border-radius: 5px;

				&.active {
					background-color: rgba(black, 0.1);
				}

				fa-icon {
					pointer-events: none;
				}

				.arrow-icon {
					display: inline-block;
					transition: transform 0.2s ease;
				}
			}

			input[type='checkbox']:checked + label + ul {
				max-height: 1000px;
			}

			input[type='checkbox']:checked + label > .arrow-icon {
				transform: rotate(90deg);
			}

			.sub-group-list {
				height: 100%;
				max-height: 0;
				overflow: hidden;
				transition: max-height 0.5s ease-in-out;
			}
		}
	}
}
