<div class="container">
	<h1>
		<fa-icon [icon]="faEye" [fixedWidth]="true" size="sm"></fa-icon>
		SeekPSD
	</h1>

	<div class="flex-left-right">
		<div #psdViewer class="psd-viewer">
			<div #dropArea appEvent (fileDropped)="onFileDropped($event)" class="drop-area active">
				<div class="normal">
					<fa-icon [icon]="faFileImage" size="3x"></fa-icon>
					<h3>PSDファイルを開く</h3>
					<p>ここにファイルをドラッグ＆ドロップ</p>
				</div>
				<div class="hover"></div>
			</div>

			<canvas #mainCanvas class="psd-canvas"></canvas>
		</div>
		<div class="psd-info">
			<h2>
				<fa-icon [icon]="faSignature" [fixedWidth]="true" size="sm"></fa-icon>
				{{ fileName }}
			</h2>

			<div class="layer-panel">
				<ul>
					<ng-template #recursiveList let-infoList>
						<li *ngFor="let item of infoList; let i = index" style="position: relative">
							<div class="eye-icon" (click)="toggleVisibility(item.name, item.uniqueId)">
								<fa-icon *ngIf="!item.hidden" [icon]="faEye" [fixedWidth]="true" size="sm"></fa-icon>
								<fa-icon *ngIf="item.hidden" [icon]="faEyeSlash" [fixedWidth]="true" size="sm"></fa-icon>
							</div>

							<input attr.id="{{ item.name + '_seek_psd_' + item.uniqueId + '_' + i }}" type="checkbox" hidden />
							<label
								attr.for="{{ item.name + '_seek_psd_' + item.uniqueId + '_' + i }}"
								appPreventHoverPropagation
								class="ellipsis"
							>
								<div class="arrow-icon">
									<fa-icon
										*ngIf="item.children.length > 0"
										[icon]="faAngleRight"
										[fixedWidth]="true"
										size="sm"
									></fa-icon>
								</div>
								<fa-icon *ngIf="item.children.length > 0" [icon]="faFolder" [fixedWidth]="true" size="sm"></fa-icon>
								{{ item.name }}
							</label>
							<ul *ngIf="item.children.length > 0" class="ul-prefix sub-group-list">
								<ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: item.children }"></ng-container>
							</ul>
						</li>
					</ng-template>
					<ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: infoList }"></ng-container>
				</ul>
			</div>
		</div>
	</div>
</div>

<footer>
	<div class="wrapper">
		<span>©NkiHrk</span>
		<span>・</span>
		<a href="https://github.com/nkihrk" target="_blank">GitHub</a>
		<span>・</span>
		<a href="https://github.com/nkihrk/seek-psd" target="_blank">About SeekPSD</a>
	</div>
</footer>
