$transition: 0.2s ease-in-out;
$totalWidth: 1200px;
$scrollbar-size: 6px;

.container {
	width: $totalWidth;
	margin: 0 auto;
	font-weight: bold;

	h1 {
		margin: 20px 0;
	}
}

footer {
	display: flex;
	justify-content: center;
	margin-top: 50px;

	.wrapper {
		text-align: center;
		padding: 30px 0;

		width: $totalWidth;
		border-top: solid 1px rgba(black, 0.1);
	}
}

.flex-left-right {
	display: flex;
	justify-content: space-between;
}

.psd-viewer,
.outer-layer-panel {
	background-color: white;
	border: solid 1px rgba(black, 0.1);
	border-radius: 10px;
	overflow: hidden;
}

.psd-viewer {
	position: relative;
	width: 72%;
	max-height: 300px;
	padding: 30px;

	transition: max-height 0.5s ease;

	.drop-area {
		position: absolute;
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: calc(100% - 60px);
		height: calc(100% - 60px);
		border-radius: 10px;
		user-select: none;
		background-color: #f2f6f9;

		transition: opacity $transition;
		transition-delay: 1s;
		opacity: 0;

		&.active {
			opacity: 1;
		}

		.normal {
			pointer-events: none;

			h3 {
				margin-top: 10px;
			}
		}
	}

	.psd-canvas {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		background-image: url('../../../assets/Transparency10.png');
	}
}

.psd-info {
	width: 25%;

	h2 {
		margin-bottom: 10px;
	}

	.outer-layer-panel {
		padding: 15px 0;
	}

	.layer-panel {
		width: 100%;
		padding: 5px 20px 5px 20px;
		user-select: none;
		max-height: 80vh;

		overflow-x: hidden;
		overscroll-behavior-y: none;
		-webkit-overflow-scrolling: touch;

		&::-webkit-scrollbar {
			width: $scrollbar-size;
			background: transparent;
		}

		// Scrollbar track
		&::-webkit-scrollbar-track {
			background: rgba(black, 0.1);
			border-radius: 10px;
		}

		// Scrollbar itself
		&::-webkit-scrollbar-thumb {
			background: #333333;
			border-radius: 10px;
		}

		.ul-prefix {
			margin-left: 12px;
			padding-left: 10px;
			border-left: solid 1px rgba(black, 0.1);
		}

		li {
			label {
				width: calc(100% - 35px);
				height: 100%;
				padding: 5px;
				border-radius: 5px;

				&.active {
					background-color: rgba(black, 0.1);
				}

				fa-icon,
				.arrow-icon,
				span {
					pointer-events: none;
				}

				.arrow-icon {
					display: inline-block;
					transition: transform 0.2s ease;
				}
			}

			.eye-icon {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 15px;
				right: 0;
				width: 30px;
				height: 30px;
				transform: translateY(-50%);

				&:hover {
					background-color: rgba(black, 0.1);
					border-radius: 5px;
				}
			}

			input[type='checkbox']:checked + label + ul {
				max-height: 10000px;
			}

			input[type='checkbox']:checked + label > .arrow-icon {
				transform: rotate(90deg);
			}

			.sub-group-list {
				height: 100%;
				max-height: 0;
				overflow: hidden;
				transition: max-height 0.5s ease-in-out;
			}
		}
	}
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
