@import '../../../variables';

///////////////////////////////////////////////////
//
//	Common
//
///////////////////////////////////////////////////

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.nwse-resize {
	cursor: nwse-resize;
}

.nesw-resize {
	cursor: nesw-resize;
}

.ns-resize {
	cursor: ns-resize;
}

.ew-resize {
	cursor: ew-resize;
}

.disable {
	pointer-events: none;
	color: $gray;
}

.prevent-AA {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
	-webkit-font-smoothing: none;
}

///////////////////////////////////////////////////
//
//	icon-prefix
//
///////////////////////////////////////////////////

.icon-prefix {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	margin: 5px;
	border-radius: 10px;
	user-select: none;

	transition: background-color 0.1s ease-in-out;

	&:hover {
		background-color: $thin-black;
	}

	&:active,
	&.active {
		background-color: $thin-black;
	}
}

///////////////////////////////////////////////////
//
//	Name info
//
///////////////////////////////////////////////////

.name-info-wrapper {
	position: relative;

	&:hover {
		.name-info-column,
		.name-info-row {
			transition-delay: 500ms;
			opacity: 1;
		}
	}

	.name-info-column,
	.name-info-row {
		display: flex;
		align-content: center;
		justify-content: center;
		position: absolute;
		z-index: 10;
		font-size: 0.8rem;
		font-weight: bold;
		padding: 5px 10px;
		border-radius: 3px;
		white-space: nowrap;
		opacity: 0;
		color: white;
		background-color: $black;
		border: none;

		user-select: none;
		pointer-events: none;
		transition: opacity $transition;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: -12px;
			transform: translateY(-50%);
			border: 6px solid transparent;
		}

		&.disable {
			transition: opacity $transition;
			transition-delay: initial;
			opacity: 0 !important;
		}
	}

	.name-info-column {
		top: 50%;
		left: 140%;
		transform: translateY(-50%);

		&:before {
			top: 50%;
			left: -12px;
			transform: translateY(-50%);
			border-right: 6px solid $black;
		}
	}

	.name-info-row {
		top: -45px;
		left: 50%;
		transform: translateX(-50%);

		&:before {
			top: 98%;
			left: 50%;
			transform: translateX(-50%);
			border-top: 6px solid $black;
		}
	}
}

///////////////////////////////////////////////////
//
// Common structure
//
///////////////////////////////////////////////////

.container {
	max-width: $totalWidth;
	margin: 0 auto;
	padding: 0 30px;
	transition: max-width 0.5s ease;

	h1 {
		margin: 20px 0;
	}
}

header {
	a {
		color: $black;
	}
}

footer {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	font-weight: initial;

	.wrapper {
		text-align: center;
		padding: 30px 0;

		width: $totalWidth;
		border-top: solid 1px $thin-black;
	}
}

.flex-left-right {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.psd-viewer,
.outer-layer-panel {
	background-color: white;
	border: solid 1px $thin-black;
	border-radius: 10px;
	box-shadow: $box-shadow;
}

///////////////////////////////////////////////////
//
//	PSD viewer
//
///////////////////////////////////////////////////

.psd-viewer {
	position: relative;
	//width: 72%;
	width: calc(97% - 300px);
	max-height: 300px;
	padding: 30px;

	transition: max-height 0.5s ease;

	.drop-area {
		position: absolute;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: calc(100% - 60px); // 60px is for the parent's padding
		height: calc(100% - 60px);
		border-radius: 10px;
		pointer-events: none;
		user-select: none;
		background-color: $thin-gray;

		transition: opacity $transition;
		transition-delay: 1s;
		opacity: 0;

		&:active {
			background-color: $gray;
		}

		&.active {
			transition-delay: initial;
			opacity: 1;
			cursor: pointer;
			pointer-events: initial;
		}

		.normal {
			pointer-events: none;
			font-weight: bold;

			h3 {
				margin-top: 10px;
			}
		}

		.hover {
			position: absolute;
			z-index: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			background-color: $gray;

			pointer-events: none;
			transition: opacity $transition;
			opacity: 0;

			&.active {
				opacity: 1;
			}
		}
	}

	.psd-canvas {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		background-image: url('../../../assets/Transparency10.png');
	}

	.overlay-canvas {
		position: absolute;
		top: 30px;
		left: 30px;
		width: calc(100% - 60px);
		height: calc(100% - 60px);
		border-radius: 10px;
	}
}

///////////////////////////////////////////////////
//
//	Layer info
//
///////////////////////////////////////////////////

.layer-info {
	position: sticky;
	top: 0;
	//width: 25%;
	width: 300px;
	font-weight: bold;
	align-self: flex-start;

	h2 {
		margin: 10px 0;

		fa-icon {
			margin-right: 10px;
		}

		.layer-skelton-title {
			display: inline-block;
			width: calc(100% - 40px - 20px);
			height: 30px;
			transform: translateY(25%);
			background-color: $gray;
			border-radius: 5px;
		}
	}

	.outer-layer-panel {
		padding: 15px 0;
	}

	.layer-detail {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 5px 20px;
		user-select: none;

		.preview-layer-wrapper {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;

			canvas {
				width: 50px;
				height: 50px;
				background-image: url('../../../assets/Transparency10.png');
				border: solid 1px $gray;
				border-radius: 5px;

				&.cursor-pointer {
					cursor: pointer;
				}

				&.disable {
					opacity: 0;
					pointer-events: none;
				}
			}
		}

		.layer-detail-skelton {
			width: calc(100% - 70px);
			height: 30px;
			border-radius: 5px;
			background-color: $gray;
		}
	}

	.layer-info-separator {
		width: calc(100% - 40px);
		height: 1px;
		margin: 15px auto;
		border-bottom: solid 1px $thin-black;
	}

	.layer-panel {
		width: 100%;
		padding: 5px 20px;
		user-select: none;
		max-height: calc(80vh - 100px);

		overflow-x: hidden;
		overscroll-behavior-y: none;
		-webkit-overflow-scrolling: touch;

		&::-webkit-scrollbar {
			width: $scrollbar-size;
			background: transparent;
		}

		// Scrollbar track
		&::-webkit-scrollbar-track {
			background: $thin-black;
			border-radius: 10px;
		}

		// Scrollbar itself
		&::-webkit-scrollbar-thumb {
			background: #333333;
			border-radius: 10px;
		}

		.ul-prefix {
			margin-left: 12px;
			padding-left: 10px;
			border-left: solid 1px $thin-black;
		}

		li {
			// Skelton for layer-info's list
			&.layer-skelton-list {
				position: relative;
				width: calc(100% - 35px);
				height: 30px;
				border-radius: 5px;
				background-color: $gray;
				margin-bottom: 5px;

				.layer-skelton-box {
					position: absolute;
					top: 50%;
					right: -35px;
					width: 30px;
					height: 30px;
					background-color: $gray;
					border-radius: 5px;
					transform: translateY(-50%);
				}
			}

			&.disable-sub-layers {
				color: rgba($black, 0.5);

				.pointer-events-none {
					pointer-events: none;
				}
			}

			label {
				width: calc(100% - 35px);
				height: 100%;
				padding: 5px;
				border-radius: 5px;

				&.active,
				&.active-layer-detail {
					background-color: $thin-black;
				}

				fa-icon,
				.arrow-icon,
				span {
					pointer-events: none;
				}

				.arrow-icon {
					display: inline-block;
					transition: transform 0.2s ease;
				}
			}

			.eye-icon {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 15px;
				right: 0;
				width: 30px;
				height: 30px;
				transform: translateY(-50%);

				&:hover {
					background-color: $thin-black;
					border-radius: 5px;
				}
			}

			input[type='checkbox']:checked + label + ul {
				max-height: 10000px;
			}

			input[type='checkbox']:checked + label > .arrow-icon {
				transform: rotate(90deg);
			}

			.sub-group-list {
				height: 100%;
				max-height: 0;
				overflow: hidden;
				transition: max-height 0.5s ease-in-out;
			}
		}
	}
}

///////////////////////////////////////////////////
//
//	Crop config panel
//
///////////////////////////////////////////////////

.crop-panel {
	position: absolute;
	z-index: 10;
	padding: 2px 6px;
	transform: translateX(-50%) translateY(-50%);
	border: solid 1px $thin-black;
	border-radius: 5px;
	box-shadow: $box-shadow;
	background-color: rgba(white, 1);

	form {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;

		span {
			font-weight: bold;
			user-select: none;
		}

		input {
			margin: 5px;
			font-weight: bold;
			border-radius: 3px;
			border: none;

			&:focus {
				outline: none;
			}
		}

		input[type='number'] {
			width: 60px;
			background-color: $gray;
			color: rgba($black, 0.8);
			border: solid 1.5px $gray;
			padding: 2px 6px;

			-moz-appearance: textfield;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			&:focus {
				border: solid 1.5px rgba($black, 0.1);
			}
		}

		input[type='button'] {
			background-color: $red;
			color: rgba(white, 0.9);
			font-size: 0.85rem;
			border: solid 1.5px $red;
			padding: 2px 10px;
		}

		.icon-prefix {
			width: 30px;
			height: 30px;
			margin: 2px;
			border-radius: 5px;
		}
	}
}

///////////////////////////////////////////////////
//
//	Screen canvas
//
///////////////////////////////////////////////////

.color-picker-wrapper {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
}

///////////////////////////////////////////////////
//
//	PSD preview canvas
//
///////////////////////////////////////////////////

.psd-preview-wrapper {
	position: fixed;
	z-index: 15;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	pointer-events: none;
	user-select: none;
	opacity: 0;
	transition: opacity 0.1s ease-in-out;
	background-color: rgba(black, 0.8);

	&.active {
		pointer-events: initial;
		opacity: 1;
	}

	.loader {
		z-index: -1;
	}

	canvas {
		opacity: 0;
		transition: opacity $transition;

		&.active {
			opacity: 1;
		}
	}
}

.cursor-pointer {
	cursor: pointer;
}

///////////////////////////////////////////////////
//
//	Tool bar
//
///////////////////////////////////////////////////

.tool-bar {
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	border: solid 1px $thin-black;
	border-radius: 10px;
	box-shadow: $box-shadow;

	.sub-tool-bar {
		position: absolute;
		top: 50;
		left: 140%;
		border: solid 1px $thin-black;
		border-radius: 10px;
		box-shadow: $box-shadow;
		pointer-events: none;
		opacity: 0;
		transition: opacity $transition;

		&.active {
			opacity: 1;
			pointer-events: initial;
		}

		ul {
			display: flex;
			flex-direction: row;
		}
	}
}

.separator-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 10px;
	margin: 5px;
	user-select: none;

	.separator {
		width: 80%;
		height: 1px;
		background: $gray;
	}
}

///////////////////////////////////////////////////
//
//	Garbage
//
///////////////////////////////////////////////////

.garbage {
	position: fixed;
	z-index: 10;
	bottom: 40px;
	left: 20px;
	border: solid 1px $thin-black;
	border-radius: 10px;
	box-shadow: $box-shadow;
	color: $red;
}

///////////////////////////////////////////////////
//
//	loading spinner
//
///////////////////////////////////////////////////

.loader {
	margin: 0 auto;
	width: 60px;
	height: 50px;
	text-align: center;
	font-size: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transition: opacity $transition;

	&.disable {
		opacity: 0;
	}

	> div {
		height: 100%;
		width: 8px;
		display: inline-block;
		float: left;
		margin-left: 2px;
		-webkit-animation: delay 0.8s infinite ease-in-out;
		animation: delay 0.8s infinite ease-in-out;
	}

	.bar1 {
		background-color: #754fa0;
	}
	.bar2 {
		background-color: #09b7bf;
		-webkit-animation-delay: -0.7s;
		animation-delay: -0.7s;
	}
	.bar3 {
		background-color: #90d36b;
		-webkit-animation-delay: -0.6s;
		animation-delay: -0.6s;
	}
	.bar4 {
		background-color: #f2d40d;
		-webkit-animation-delay: -0.5s;
		animation-delay: -0.5s;
	}
	.bar5 {
		background-color: #fcb12b;
		-webkit-animation-delay: -0.4s;
		animation-delay: -0.4s;
	}
	.bar6 {
		background-color: #ed1b72;
		-webkit-animation-delay: -0.3s;
		animation-delay: -0.3s;
	}
}

@-webkit-keyframes delay {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.05);
	}
	20% {
		-webkit-transform: scaleY(1);
	}
}

@keyframes delay {
	0%,
	40%,
	100% {
		transform: scaleY(0.05);
		-webkit-transform: scaleY(0.05);
	}
	20% {
		transform: scaleY(1);
		-webkit-transform: scaleY(1);
	}
}

///////////////////////////////////////////////////
//
//	media query
//
///////////////////////////////////////////////////

@media screen and (max-width: 830px) {
	.container {
		.flex-left-right {
			.psd-viewer,
			.layer-info {
				width: 100%;
			}

			.layer-info {
				h2 {
					text-align: center;
				}
			}
		}
	}

	footer {
		.wrapper {
			width: 100%;
		}
	}
}
