@import '../../../variables';

.container {
	width: $totalWidth;
	margin: 0 auto;

	h1 {
		margin: 20px 0;
	}
}

footer {
	display: flex;
	justify-content: center;
	margin-top: 50px;

	.wrapper {
		text-align: center;
		padding: 30px 0;

		width: $totalWidth;
		border-top: solid 1px $thin-black;
	}
}

.flex-left-right {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.psd-viewer,
.outer-layer-panel {
	background-color: white;
	border: solid 1px $thin-black;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: $box-shadow;
}

.psd-viewer {
	position: relative;
	width: 72%;
	max-height: 300px;
	padding: 30px;

	transition: max-height 0.5s ease;

	.drop-area {
		position: absolute;
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: calc(100% - 60px);
		height: calc(100% - 60px);
		border-radius: 10px;
		user-select: none;
		background-color: $thin-gray;

		transition: opacity $transition;
		transition-delay: 1s;
		opacity: 0;

		&:active {
			background-color: $gray;
		}

		&.active {
			opacity: 1;
		}

		.normal {
			pointer-events: none;
			font-weight: bold;

			h3 {
				margin-top: 10px;
			}
		}

		.hover {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			background-color: $gray;

			pointer-events: none;
			transition: opacity $transition;
			opacity: 0;

			&.active {
				opacity: 1;
			}
		}
	}

	.psd-canvas {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		background-image: url('../../../assets/Transparency10.png');
	}
}

.psd-info {
	position: sticky;
	top: 0;
	width: 25%;
	font-weight: bold;
	align-self: flex-start;

	h2 {
		margin: 10px 0;
	}

	.outer-layer-panel {
		padding: 15px 0;
	}

	.layer-panel {
		width: 100%;
		padding: 5px 20px 5px 20px;
		user-select: none;
		max-height: 80vh;

		overflow-x: hidden;
		overscroll-behavior-y: none;
		-webkit-overflow-scrolling: touch;

		&::-webkit-scrollbar {
			width: $scrollbar-size;
			background: transparent;
		}

		// Scrollbar track
		&::-webkit-scrollbar-track {
			background: $thin-black;
			border-radius: 10px;
		}

		// Scrollbar itself
		&::-webkit-scrollbar-thumb {
			background: #333333;
			border-radius: 10px;
		}

		.ul-prefix {
			margin-left: 12px;
			padding-left: 10px;
			border-left: solid 1px $thin-black;
		}

		li {
			label {
				width: calc(100% - 35px);
				height: 100%;
				padding: 5px;
				border-radius: 5px;

				&.active {
					background-color: $thin-black;
				}

				fa-icon,
				.arrow-icon,
				span {
					pointer-events: none;
				}

				.arrow-icon {
					display: inline-block;
					transition: transform 0.2s ease;
				}
			}

			.eye-icon {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 15px;
				right: 0;
				width: 30px;
				height: 30px;
				transform: translateY(-50%);

				&:hover {
					background-color: $thin-black;
					border-radius: 5px;
				}
			}

			input[type='checkbox']:checked + label + ul {
				max-height: 10000px;
			}

			input[type='checkbox']:checked + label > .arrow-icon {
				transform: rotate(90deg);
			}

			.sub-group-list {
				height: 100%;
				max-height: 0;
				overflow: hidden;
				transition: max-height 0.5s ease-in-out;
			}
		}
	}
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

///////////////////////////////////////////////////
//
//	Tool bar
//
///////////////////////////////////////////////////

.tool-bar {
	position: fixed;
	z-index: 100;
	top: 50%;
	left: 40px;
	transform: translateY(-50%);
	background-color: white;
	border: solid 1px $thin-black;
	border-radius: 10px;
	box-shadow: $box-shadow;

	.name-info-wrapper {
		position: relative;

		&:hover {
			.name-info-column {
				transition-delay: 500ms;
				opacity: 1;
			}
		}

		.name-info-column {
			display: flex;
			align-content: center;
			justify-content: center;
			position: absolute;
			z-index: 100;
			top: 50%;
			left: 140%;
			transform: translateY(-50%);
			font-size: 0.8rem;
			font-weight: bold;
			padding: 5px 10px;
			border-radius: 3px;
			white-space: nowrap;
			opacity: 0;

			color: white;
			background-color: $black;
			border: none;

			user-select: none;
			pointer-events: none;
			transition: opacity $transition;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: -12px;
				transform: translateY(-50%);
				border: 6px solid transparent;
				border-right: 6px solid #333333;
			}
		}
	}

	.icon-prefix {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 45px;
		height: 45px;
		margin: 5px;
		border-radius: 10px;

		transition: background-color 0.1s ease-in-out;

		&:hover {
			background-color: $thin-black;
		}

		&:active,
		&.active {
			background-color: $thin-black;
		}
	}
}

///////////////////////////////////////////////////
//
//	Loading spinner
//
///////////////////////////////////////////////////

.loader {
	margin: 0 auto;
	width: 60px;
	height: 50px;
	text-align: center;
	font-size: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);

	> div {
		height: 100%;
		width: 8px;
		display: inline-block;
		float: left;
		margin-left: 2px;
		-webkit-animation: delay 0.8s infinite ease-in-out;
		animation: delay 0.8s infinite ease-in-out;
	}

	.bar1 {
		background-color: #754fa0;
	}
	.bar2 {
		background-color: #09b7bf;
		-webkit-animation-delay: -0.7s;
		animation-delay: -0.7s;
	}
	.bar3 {
		background-color: #90d36b;
		-webkit-animation-delay: -0.6s;
		animation-delay: -0.6s;
	}
	.bar4 {
		background-color: #f2d40d;
		-webkit-animation-delay: -0.5s;
		animation-delay: -0.5s;
	}
	.bar5 {
		background-color: #fcb12b;
		-webkit-animation-delay: -0.4s;
		animation-delay: -0.4s;
	}
	.bar6 {
		background-color: #ed1b72;
		-webkit-animation-delay: -0.3s;
		animation-delay: -0.3s;
	}
}

@-webkit-keyframes delay {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.05);
	}
	20% {
		-webkit-transform: scaleY(1);
	}
}

@keyframes delay {
	0%,
	40%,
	100% {
		transform: scaleY(0.05);
		-webkit-transform: scaleY(0.05);
	}
	20% {
		transform: scaleY(1);
		-webkit-transform: scaleY(1);
	}
}
