<nav class="tool-bar">
	<ul>
		<li
			(click)="execFunc('color-picker')"
			[ngClass]="{
				active: (memory.reservedByFunc$ | async)?.current.name === 'color-picker',
				disable: !(memory.isLoaded$ | async)
			}"
			class="icon-prefix name-info-wrapper"
		>
			<fa-icon [icon]="faEyeDropper" [fixedWidth]="true" size="lg"></fa-icon>
			<div class="name-info-column">スポイト</div>
		</li>

		<li
			(click)="execFunc('crop')"
			[ngClass]="{
				active: (memory.reservedByFunc$ | async)?.current.name === 'crop',
				disable: !(memory.isLoaded$ | async)
			}"
			class="icon-prefix name-info-wrapper"
		>
			<fa-icon [icon]="faCropAlt" [fixedWidth]="true" size="lg"></fa-icon>
			<div class="name-info-column">クロッピング</div>
		</li>

		<li
			(click)="execFunc('zoom')"
			[ngClass]="{ active: (memory.reservedByFunc$ | async)?.current.name === 'zoom' }"
			class="icon-prefix name-info-wrapper disable"
		>
			<fa-icon [icon]="faSearch" [fixedWidth]="true" size="lg" style="transform: scale(-1, 1)"></fa-icon>
			<div class="name-info-column">拡大・縮小</div>
		</li>

		<li
			(click)="execFunc('resize-canvas')"
			[ngClass]="{
				active: (memory.reservedByFunc$ | async)?.current.name === 'resize-canvas',
				disable: !(memory.isLoaded$ | async)
			}"
			class="icon-prefix name-info-wrapper"
		>
			<fa-icon [icon]="faExpandAlt" [fixedWidth]="true" size="lg"></fa-icon>
			<div
				[ngClass]="{ disable: (memory.reservedByFunc$ | async)?.current.name === 'resize-canvas' }"
				class="name-info-column"
			>
				キャンバスのサイズを変更
			</div>
			<div
				[ngClass]="{ active: (memory.reservedByFunc$ | async)?.current.name === 'resize-canvas' }"
				appPreventClickPropagation
				class="sub-tool-bar"
			>
				<ul>
					<li
						(click)="execResizeCanvas(0)"
						[ngClass]="{ active: (memory.resizeCanvas$ | async)?.type === 0 }"
						class="icon-prefix"
					>
						x1
					</li>
					<li
						(click)="execResizeCanvas(1)"
						[ngClass]="{ active: (memory.resizeCanvas$ | async)?.type === 1 }"
						class="icon-prefix"
					>
						x1.2
					</li>
					<li
						(click)="execResizeCanvas(2)"
						[ngClass]="{ active: (memory.resizeCanvas$ | async)?.type === 2 }"
						class="icon-prefix"
					>
						x1.4
					</li>
					<li
						(click)="execResizeCanvas(3)"
						[ngClass]="{ active: (memory.resizeCanvas$ | async)?.type === 3 }"
						class="icon-prefix"
					>
						x1.6
					</li>
					<li
						(click)="execResizeCanvas(4)"
						[ngClass]="{ active: (memory.resizeCanvas$ | async)?.type === 4 }"
						class="icon-prefix"
					>
						x1.8
					</li>
					<li
						(click)="execResizeCanvas(5)"
						[ngClass]="{ active: (memory.resizeCanvas$ | async)?.type === 5 }"
						class="icon-prefix"
					>
						x2
					</li>
				</ul>
			</div>
		</li>

		<li class="separator-wrapper">
			<div class="separator"></div>
		</li>

		<li
			(click)="execExplicitFunc('grayscale')"
			[ngClass]="{
				active: (memory.isGrayscale$ | async),
				disable: !(memory.isLoaded$ | async)
			}"
			class="icon-prefix name-info-wrapper"
		>
			<fa-icon [icon]="faPaintRoller" [fixedWidth]="true" size="lg"></fa-icon>
			<div class="name-info-column">グレースケール化</div>
		</li>

		<li
			(click)="execExplicitFunc('flip')"
			[ngClass]="{
				active: (memory.isFlip$ | async),
				disable: !(memory.isLoaded$ | async)
			}"
			class="icon-prefix name-info-wrapper"
		>
			<fa-icon [icon]="faExchangeAlt" [fixedWidth]="true" size="lg"></fa-icon>
			<div class="name-info-column">左右反転</div>
		</li>

		<li class="separator-wrapper">
			<div class="separator"></div>
		</li>

		<li
			(click)="execExplicitFunc('download')"
			[ngClass]="{
				active: (memory.reservedByFunc$ | async)?.current.name === 'download',
				disable: !(memory.isLoaded$ | async)
			}"
			class="icon-prefix name-info-wrapper"
		>
			<fa-icon [icon]="faDownload" [fixedWidth]="true" size="lg"></fa-icon>
			<div class="name-info-column">現在のレイヤーを出力</div>
		</li>
	</ul>
</nav>

<div (click)="execFunc('garbage')" class="garbage">
	<div [ngClass]="{ disable: !(memory.isLoaded$ | async) }" class="icon-prefix name-info-wrapper">
		<fa-icon [icon]="faTrashAlt" [fixedWidth]="true" size="lg"></fa-icon>
		<div class="name-info-column">ゴミ箱</div>
	</div>
</div>

<div #container class="container">
	<header>
		<h1>
			<a href="./">
				<fa-icon [icon]="faEye" [fixedWidth]="true" size="sm"></fa-icon>
				SeekPSD
			</a>
		</h1>
	</header>

	<div class="flex-left-right">
		<div #psdViewer class="psd-viewer">
			<div #dropArea (click)="loadFile()" appFileEvent (fileDropped)="onFileDropped($event)" class="drop-area active">
				<div class="normal">
					<fa-icon [icon]="faFileImage" size="3x"></fa-icon>
					<h3>PSDファイルを開く</h3>
					<p>ここにファイルをドラッグ＆ドロップ</p>
				</div>
				<div class="hover">
					<fa-icon [icon]="faFileDownload" size="3x"></fa-icon>
				</div>
				<div *ngIf="memory.isLoading$ | async" class="hover active">
					<div class="loader">
						<div class="bar1"></div>
						<div class="bar2"></div>
						<div class="bar3"></div>
						<div class="bar4"></div>
						<div class="bar5"></div>
						<div class="bar6"></div>
					</div>
				</div>
			</div>

			<canvas #mainCanvas class="psd-canvas"></canvas>
			<canvas
				(click)="execExplicitFunc('preview')"
				#overlayCanvas
				[ngClass]="{ 'cursor-pointer': (memory.reservedByFunc$ | async)?.current.name === '' }"
				class="overlay-canvas prevent-AA"
			></canvas>

			<div
				*ngIf="(memory.reservedByFunc$ | async)?.current.name === 'crop'"
				[style.top]="(memory.crop$ | async)?.offset.current.y - (memory.crop$ | async)?.size.height / 2 - 10 + 'px'"
				[style.left]="(memory.crop$ | async)?.offset.current.x + 30 + 'px'"
				class="crop-panel"
			>
				<form #formCheck="ngForm" [formGroup]="cropConf" class="form-check">
					<input
						type="number"
						[formControl]="cropConf.controls['width']"
						[value]="(memory.crop$ | async)?.size.width"
					/>
					<span>×</span>
					<input
						type="number"
						[formControl]="cropConf.controls['height']"
						[value]="(memory.crop$ | async)?.size.height"
					/>
					<div
						(click)="func.toggleCropFixedResolution()"
						[ngClass]="{ active: memory.isFixedCropResolution$ | async }"
						class="icon-prefix name-info-wrapper"
					>
						<fa-icon
							*ngIf="memory.isFixedCropResolution$ | async"
							[icon]="faLock"
							[fixedWidth]="true"
							size="sm"
						></fa-icon>
						<fa-icon
							*ngIf="!(memory.isFixedCropResolution$ | async)"
							[icon]="faUnlock"
							[fixedWidth]="true"
							size="sm"
						></fa-icon>
						<div class="name-info-row">アスペクト比の固定</div>
					</div>
					<div (click)="func.rotateCropResolution()" class="icon-prefix name-info-wrapper">
						<fa-icon [icon]="faUndo" [fixedWidth]="true" size="sm" flip="horizontal"></fa-icon>
						<div class="name-info-row">回転</div>
					</div>
					<input type="button" value="切り取り" (click)="execExplicitFunc('crop')" />
				</form>
			</div>
		</div>

		<div class="layer-info">
			<h2 class="ellipsis">
				<fa-icon [icon]="faSignature" [fixedWidth]="true" size="sm"></fa-icon>
				{{ memory.fileName$ | async }}
				<div *ngIf="!(memory.isLoaded$ | async)" class="layer-skelton-title"></div>
			</h2>

			<div class="outer-layer-panel">
				<nav class="layer-panel">
					<ul>
						<li *ngIf="!(memory.isLoaded$ | async)" class="layer-skelton-list">
							<div class="layer-skelton-box"></div>
						</li>
						<li *ngIf="!(memory.isLoaded$ | async)" class="layer-skelton-list">
							<div class="layer-skelton-box"></div>
						</li>
						<li *ngIf="!(memory.isLoaded$ | async)" class="layer-skelton-list">
							<div class="layer-skelton-box"></div>
						</li>

						<ng-template #recursiveList let-list>
							<li *ngFor="let item of list; let i = index" style="position: relative">
								<div class="eye-icon" (click)="toggleVisibility(item.name, item.uniqueId)">
									<fa-icon *ngIf="!item.hidden.current" [icon]="faEye" [fixedWidth]="true" size="sm"></fa-icon>
									<fa-icon *ngIf="item.hidden.current" [icon]="faEyeSlash" [fixedWidth]="true" size="sm"></fa-icon>
								</div>

								<input attr.id="{{ item.name + '_seek_psd_' + item.uniqueId + '_' + i }}" type="checkbox" hidden />
								<label
									attr.for="{{ item.name + '_seek_psd_' + item.uniqueId + '_' + i }}"
									appPreventHoverPropagation
									class="ellipsis"
								>
									<div class="arrow-icon">
										<fa-icon
											*ngIf="item.children.length > 0"
											[icon]="faAngleRight"
											[fixedWidth]="true"
											size="sm"
										></fa-icon>
									</div>
									<fa-icon
										*ngIf="item.psd.clipping"
										[icon]="faLevelDownAlt"
										[fixedWidth]="true"
										size="sm"
										flip="horizontal"
										[styles]="{ color: '#a8a8a8' }"
									></fa-icon>
									<fa-icon *ngIf="item.children.length > 0" [icon]="faFolder" [fixedWidth]="true" size="sm"></fa-icon>
									{{ item.name }}
								</label>
								<ul *ngIf="item.children.length > 0" class="ul-prefix sub-group-list">
									<ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: item.children }"></ng-container>
								</ul>
							</li>
						</ng-template>
						<div *ngIf="memory.layerInfos$ | async; $implicit as list">
							<ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: list }"></ng-container>
						</div>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<footer>
	<div class="wrapper">
		<span>©NkiHrk</span>
		<span>・</span>
		<a href="https://github.com/nkihrk" target="_blank">GitHub</a>
		<span>・</span>
		<a href="https://github.com/nkihrk/seek-psd" target="_blank">About SeekPSD</a>
	</div>
</footer>

<div #screenCanvasWrapper appPointerEvent (pointerData)="onPointerEvent($event)" class="color-picker-wrapper">
	<canvas #screenCanvas class="prevent-AA"></canvas>
</div>

<div (click)="execExplicitFunc('preview')" #previewWrapper class="cursor-pointer psd-preview-wrapper">
	<canvas #previewCanvas></canvas>
	<div #previewLoader class="loader">
		<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
		<div class="bar4"></div>
		<div class="bar5"></div>
		<div class="bar6"></div>
	</div>
</div>
