.layer {
  position: relative;
  background-color: var(--bg-secondary);
  width: 500px;
  max-width: 100%;
  height: 500px;

  %common {
    position: absolute;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 100%;
    height: 100%;
  }

  &__psd {
    @extend %common;

    z-index: 0;
  }

  &__ui {
    @extend %common;

    z-index: 1;
  }
}
