///////////////////////////////////////////////////
//
//	Color
//
///////////////////////////////////////////////////

$red: #e56470;

$thin-black: rgba(#333333, 0.1);
$black: #333333;

$thin-gray: #f2f6f9;
$gray: #dee2e6;

$bg-color: #fefcfb;

///////////////////////////////////////////////////
//
//	Variable
//
///////////////////////////////////////////////////

$transition: 0.2s ease-in-out;
$totalWidth: 1200px;
$scrollbar-size: 6px;
$box-shadow: 8px 8px 6px -6px $thin-black;
