@import './reset';
@import './variables';

html {
	background-color: $bg-color;
	overflow-y: scroll;
	color: $black;
	font-weight: bold;
	overscroll-behavior-y: none;
	-webkit-overflow-scrolling: touch;
	/* Firefox 64 */
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
